@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Khand:wght@500;700&display=swap');

ion-header{
    ion-toolbar{
        ion-img{
            width: 20%;
            height: 20%;
            max-height: fit-content;
            max-width: fit-content;
        }
    
        ion-row{
            padding-left: 10%;
            padding-right: 0%;
        }

        padding: 10% 0;
    }
}

ion-card-title{
    font-family: 'Graduate', cursive;
}

ion-card-header{
    ion-label{
        font-family: 'Graduate', cursive;
        font-size: xx-large;
    }
}

ion-label{
    font-family: 'Graduate', cursive;
}

ion-img{
    width:30px; 
    height:30px;
    max-width: fit-content;
    max-height: fit-content;
}

.fila{
    font-size: smaller;
}