<<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-img src="../../assets/Team icons/CFL_2016_logo.png" ></ion-img>
      <ion-title  >Canadian Football league</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Proyecto 3</ion-card-title>
      <ion-card-subtitle>Aplicacion de la CFL</ion-card-subtitle>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-card-title>Datos del proyecto</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label>Se uso angular con ionic para el frontend</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Se uso express js para el backend</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Clear Db como base de datos relacional </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Heroku como plataforma de hosting para el BE y FE</ion-label>
        </ion-item>
      </ion-list>
      <br>
      <ion-card-title>Desarrolado por:</ion-card-title>
      <ion-list>
        <ion-item>Matias Vasconez</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>Paralelo 1</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title>Guayaquil,Ecuador 2022</ion-title>
  </ion-toolbar>
</ion-footer>